@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(9, 53, 69, 1);
  --foreground: rgba(255, 255, 255, 1);
  --input: rgba(34, 73, 87, 1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Ant Components*/
.ant-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  color: white !important;
}

.ant-checkbox-input .ant-checkbox-inner {
  background-color: rgba(34, 73, 87, 1);
  border-color: rgba(34, 73, 87, 1);
}

.ant-pagination li.ant-pagination-item {
  background-color: rgba(9, 44, 57, 1);
}

.ant-pagination li.ant-pagination-item a {
  color: white
}

.ant-pagination li.ant-pagination-item.ant-pagination-item-active {
  background-color: rgba(43, 209, 126, 1);
  border-color: rgba(43, 209, 126, 1)
}
